.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: scroll;
}
.sectionTitle {
  font-size: 5vw;
  margin-left: 2vw;
  font-family: comforta;
}
.use {
  margin-left: 2vw;
  font-size: 3vw;
  font-family: comforta;
}
.chartHolder {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.refresh {
  align-self: center;
  font-family: comforta;
  font-size: 2vw;
}
.back {
  margin-left: 2vw;
  margin-bottom: auto;
  visibility: hidden;
  font-family: comforta;
  font-size: 2vw;
}
.delete {
  align-self: flex-end;
  margin-right: 2vw;
  margin-bottom: auto;
  visibility: hidden;
  font-family: comforta;
  font-size: 2vw;
}
.ad {
  font-family: comforta;
  font-size: 2vw;
  margin-left: 2vw;
  margin-top: 2vh;
}
